.mar-t-10 {
  margin-top: 10px;
}

.main-box {
  height: 100%;
  display: flex;
  // flex-direction: row;
  flex-direction: column;
  overflow: hidden;
}

.create-box {
  .top-box {
    height: 40px;
    width: 100%;
  }

  .bottom-box {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .left-box {
    width: 300px;
    background: #efefef;
    overflow: hidden;
    position: relative;
  }

  .right-box {
    flex: 1;
    background: #484848;
    position: relative;
  }

  .play-view {
    background: #aaa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #viewContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .scroll-box {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0px;
    padding: 0 20px;
    overflow: auto;
    background: #fff;
  }

  .space-box {
    height: 100px;
    opacity: 0;
    background: #666;
  }

  .upload-group {
    padding: 20px 0 0;
    position: relative;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-top: 10px;
  }

  .upload-box {
    width: 120px;
    height: 50px;
    border: 1px solid #999;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12px;

    input {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  .icon-box {
    font-size: 20px;
    margin-right: 10px;
  }

  .fileName {
    font-size: 12px;
    color: #666;
    // text-align: center;
    padding: 10px 0 0;
    word-break: break-all;
  }

  .btn-3d {
    // box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
    border: 0;
    outline: 0;
    // padding: 1rem;
    // background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      // box-shadow: -2px -2px 0px #fff, 2px 2px 0px #babecc;
    }
  }
  .bloomItem{
    margin-top: 20px;
    padding: 20px;
    width: 260px;
    background: #F0F0F0;
    border-radius: 10px;
  }

  .save-box {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 30px;

    .save-btn {
      text-align: center;
      margin: 0 auto;
      width: 270px;
      font-weight: bold;
    }
  }

  .scene-name-box {
    width: 270px;
    margin: 0 auto 20px;
  }

  .scene-tit {
    color: #202020;
    font-size: 14px;
    font-weight: bold;
  }
  .scene-tit-point {
    margin-bottom: 20px;
    color: #202020;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }

  .show-load-txt {
    text-align: center;
    padding-top: 30px;
  }

  .show-loading {
    text-align: center;
    font-size: 30px;
  }

  .remove-btn {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 12px;
    padding: 7px;

    .del-btn {
      font-size: 13px;
      margin-left: 5px;
      position: relative;
      top: 1px;
    }
  }

  .cover-image-box {
    // width: 200px;
    margin: 20px 0 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .guang-zhao {
    position: relative;
    margin-top: 10px;

    span {
      height: 15px;
      width: 15px;
      background: #999;
      font-size: 1px;
      // position: absolute;
      float: right;
      border-radius: 2px;

      &.active {
        background: #409eff;
      }
    }

    .cz-opt {

      &>div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 0 0;
      }

      .cz-color {
        border: none;
        padding: 0;
        margin: 0;
      }
    }
  }

  .upbg {
    position: relative;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  .com-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    .com-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      width: 75px;
      height: 75px;
      background-color: #f0f0f0;
      font-size: 30px;
    }
  }
  .Mo-item {
    display: flex;
    padding: 10px 0 0;
    margin-top: 10px;
  }
  .zj-box {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;

    .zj-item {
      margin: 20px 0;
      padding: 10px 0 0;
    }
    .ra-label {
      display: inline-block;
      //margin-left: -20px;
      width: 60px;
      color: #222;
      font-size: 14px;
    }

    .ra-num {
      display: inline-block;
      //width: 40px;
      text-align: center;
      font-size: 12px;
    }

    .cz-range {
      width: 120px;
    }
  }
  .inputItem{
    -webkit-appearance: none !important;
    margin-top: 7px;
    width: 160px;
    height: 2px;
    background: #202020;
  }

  .inputItem::-webkit-slider-thumb{
    -webkit-appearance: none !important;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #202020;

    &:hover {
      background: #555;
      cursor: pointer;
    }

  }
  .moLabPut{
    width: 80px;
    font-size: 12px;
    text-align: right;
    line-height: 16px;
  }

  .labPut{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .el-input-number{
      margin-left: 35px;
    }
    .el-input-number--mini {
      width: 105px;
      line-height: 26px;
    }

    .label {
      font-size: 14px;
      line-height: 28px;
    }
  }
  .setItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .siderModItem{
    display: flex ;

    .siderModNum {
      width: 20px;
      font-size: 12px;
      text-align: center;
      line-height: 16px;
    }

  }
  .siderItem{
    margin-top: 10px;
    display: flex ;
    margin-left: 0px;
    justify-content: space-around;

    .siderNum {
      width: 30px; 
      font-size:12px; 
      text-align: center;
      line-height: 16px;
    }

  }

  .left-box .cz-range::-webkit-slider-thumb {
    // -webkit-appearance: none;
    // height: 30px;
    // width: 30px;
    margin-top: -3px;
    /*使滑块超出轨道部分的偏移量相等*/
    background: #f90 !important;
    border-radius: 50%;
    /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5);
    /*设置边框*/
    box-shadow: 0 0.125em 0.125em #3b4547;
    /*添加底部阴影*/
  }

  // .el-input-number {
  //   width: 100%;
  // }

  .el-button-group {
    width: 100%;
  }

  .el-button-group .el-button {
    width: 33.3%;
  }

  .el-button.el-button--primary {
    background-color: #0653D9;
  }

  .divider {
    margin-left: -20px;
    width: 300px;
    height: 10px;
    background-color: #f0f0f0;
  }

}

.tab-bg {
  float: left;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
}

.layer1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  background-color: #0653D9;
}

.tab-box {
  position: relative;
  padding-top: 10px;
  opacity: 0.5;
  width: 90px;
  background: #fff;
  text-align: center;
  cursor: pointer;

  &.active {
    opacity: 1;
  }

  .tab-label {
    //margin-left: -5px;
    margin-top: 14px;
    font-size: 16px;
    color: #000000;

    &.active {
      color: #0653D9;
      ;
    }
  }
}

.addModule {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  width: 260px;
  height: 44px;
  background: #0653D9;
  border-radius: 5px;
  cursor: pointer;
}

.addModuleLab {
  //width: 100px;
  height: 12px;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 12px;
  position: absolute;
  pointer-events: none;
  cursor: pointer;
  
}

.botLab {
  top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

}

.modelLab {
  padding: 10px 20px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #0653D9;
  line-height: 24px;
  background: #f8f8f8;
  border-radius: 5px;
  pointer-events: none;
}

.modelbg {
  margin: 10px 0 20px;
  padding-bottom: 20px;
  width: 260px;
  background: #f0f0f0;
  border-radius: 5px;

  .modTitle {
    height: 30px;
    border-radius: 5px 5px 0 0;
    width: 260px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    border-bottom: 1px solid #fff;

    .modWord {
      width: 45px;
      height: 14px;
      overflow-wrap: break-word;
      color: rgba(0, 0, 0, 1);
      font-size: 14px;
      font-family: PingFangSC-Regular;
      white-space: nowrap;
      line-height: 14px;
      text-align: left;
      margin-left: 10px;
    }

    .delMod {
      font-size: 13px;
      margin-right: 10px;
      position: relative;
    }
  }

  .modPropsName {
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
  }

  .addImg {
    height: 30px;
    border-radius: 3px;
    background-color: rgba(6, 83, 217, 1);
    width: 220px;
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
}

.tihuanLabBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
}

.tihuanLab{
  width: 30px;
  height: 20px;
  color: #0653D9;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
}

.ImgMod {
  margin: 20px 0;
  width: 100%;
}

.envMod {
  width: 100%;
  height: 30px;
  margin: 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectD {
  display: flex;
  margin-top: 5px;
}

.SelcetGrop {
  width: 120px;
  height: 20px;
  display: flex;
  align-items: center;
}
.titNum{
  display: inline-block;
  margin-bottom: 10px;
  width: 91px;
  color: #202020;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  text-align: left;
  overflow-wrap: break-word;
}

.selectMod {
  display: flex;
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;

  &.active {
    background-color: rgba(6, 83, 217, 1);
  }
}

.crelie {
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  margin: 4px 0 0 4px;
}

.user-s-slider {
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.dataBg {
  width: 64px;
  height: 24px;
  background: #CACACB;
  border-radius: 3px;
  margin-left: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.modul-group {
  padding: 30px 0 0;
  position: relative;
}
.newSelect{
  display: flex;
  margin-top: 7px;
  flex-direction: column;
}
.newSelectGrop{
  width: 200px;
  height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 10px;
}

// ::v-deep {

// }



